@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    box-sizing: border-box;  
    margin: 0 auto; 
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    overflow-x: hidden; 

}

.socials{
    display: flex;
    justify-content: space-evenly;
    background-color: grey;
    line-height: 200%;
    box-sizing: border-box;  

}

.socials img{
    width: 2%; 
    height: 2%;
    box-sizing: border-box;  
}

header{
    position: fixed; 
    top: 0; 
    width: 100%;
    background-color: lightblue;
    box-sizing: border-box;  

}
.mainMenu{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    margin: 0;
    box-sizing: border-box; 
}

#links{
    flex-basis: 70%;
    text-align: center;
    display: flex; 
    justify-content: space-evenly;
    box-sizing: border-box;  

}

#links a{
    text-decoration: none;
    font-size: 130%;
    text-transform: uppercase;
    color: white;
}

#links a:hover{
    color: gray; 
}

.logo{
    flex-basis: 15%;
    display: flex;
    justify-content: space-around;
}

#signup{
    flex-basis: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10%;
}

.aBtn{
    text-decoration: none;
    color: lightblue; 
    background-color: white;
    padding: 7% 13%; 
    border: 2px lightblue solid; 
    border-radius: 10px;
    font-size: 130%;
}

.aBtn:hover{
    color: white; 
    background-color: lightblue;
    border: 2px white solid; 
}


/* #signup a{
    text-decoration: none;
    color: lightblue;
}

#signup a:hover{
    color: white; 
}


#signup{
    flex-basis: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}

button{
    height: 70%;
    width: 70%;
    background-color: white;
    border: 2px lightblue solid; 
    border-radius: 15px;
    color: lightblue; 
    font-size: 140%;
    box-sizing: border-box;
}

button:hover{
    background-color: lightblue;
    color: white; 
    border: 2px white solid; 
    box-sizing: border-box;
} */


form div {
    display: block;
}

label {
    display: block;
}

input {
    line-height: 200%;
    padding: 1%;
    border: 2px lightblue solid; 
    border-radius: 8px;
}
 
textarea{
    border: 2px lightblue solid; 
    border-radius: 8px;
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

form {
    flex-basis: 100%;
    margin: 20vh 20vw  10vh 20vw;
  
    box-sizing: border-box;
    background: rgba(173,216,230, .3);
}

legend{
    font-size: 500%;
    color: white; 
    text-shadow: 2px 2px lightblue;
    text-align: center;
}

#firstName {
    width: 45%;
}
#lastName {
    width: 45%;
}
#month {
    width: 30%
}
#day{
    width: 10%;
}
#year{
    width: 40%;
}

#email {
    width: 70%; 
}

#mobilePhone {
    width: 45%; 
}

#homePhone {
    width: 45%; 
}

#state{
    width: 30%; 
}
#country{
    width: 50%; 
}

#grade{
    width: 20%; 
}

#careerInterest{
    width: 70%;
}

#interests{
    width: 90%;
    
}

#signupContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 5%; 
    box-sizing: border-box;
}

.checkboxes{
    display: flex; 
}

#menteeCheck,#mentorCheck{
    display: flex;
    flex-basis: 20%;
}


#schoolName{
    width: 60%;
}

#major{
    width: 30%;
}
#occupationField{
    width: 30%;
}
#occupation{
    width: 60%;
}


.mentorFields, .menteeFields{
    display: none; 
}

/* button{
    padding: 3% 0;
    flex-basis: 40%;
    border: none; 
    border: 2px lightblue solid; 
    background-color: white;
    transition: all .5s ease;
    border-radius: 8px;
    box-sizing: border-box;
} */

button{
    padding: 0; 
    flex-basis: 40%;
    text-transform: uppercase;
}

button:hover{
    cursor: pointer;
}




footer{
    height: 15vh;
    background-color: grey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
    width: 100vw;
    box-sizing: border-box;
}

footer img{
    max-width: 30px; 
    max-height: 30px; 
    width: auto; 
    height: auto; 


}

footer a{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30px; 
    max-height: 30px; 
    width: auto; 
    height: auto; 

}
